<body>
   
    <div class="row" style="margin-left: 20px; "> 
        <div class="col-md-4">
            <div class="card" style="width: 40rem; margin-top: 20px; ">
                <div class="card-header"> 
                    <div class="order"><strong>Order status: </strong></div>
                </div>
                <div class="card-body">
                    <div class="Total_amount"><strong>Total amount: </strong>{{totalAmount}}</div>
                    <h6>Items</h6>
                    <div *ngFor="let order of orders">
                        {{order['quantity']}} x {{order['mname']}}
                    </div>
                </div> 
            </div> 
        </div> 
        <div class="col-md-4"></div>
      </div>
    
</body>

<!-- *ngFor="let order of orders" -->
