<h1>Hello {{firstname}}</h1>
<!-- <hr> -->
<br>
<br>
<div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
        <button (click) = "editProfile()" style="margin-left: 10px;" class="btn btn-success float-right">Edit Profile</button>
            <h3>My account</h3>
    </div>
    <hr>
    <div class="card-header bg-white border-0">
        <div style="background-color: #fff;" class="card-body">
            <ul>
                <li><h6 class="heading-small text-muted mb-4">User information</h6></li>
                <table> 
                    <tr>
                        <td><h6>firstname:</h6></td>&nbsp;&nbsp;<td>{{firstname}}</td>
                    </tr>
                 <br>
                    <tr>
                     <td><h6>lastname:</h6></td>&nbsp;&nbsp;<td>{{lastname}}</td>
                     </tr>
                 <br>
                     <tr>
                         <td><h6>Username:</h6></td>&nbsp;&nbsp;<td>{{Username}}</td>
                     </tr>
                 <br>
                </table>
                <hr>
                <li><h6 class="heading-small text-muted mb-4">Contact information</h6></li>
                <table> 
                    <tr>
                        <td><h6>Building name and flat number:</h6></td>&nbsp;&nbsp;<td>{{address}}</td>
                    </tr>
                 <br>
                    <tr>
                     <td><h6>city:</h6></td>&nbsp;&nbsp;<td>{{city}}</td>
                     </tr>
                 <br>
                     <tr>
                         <td><h6>country:</h6></td>&nbsp;&nbsp;<td>{{country}}</td>
                     </tr>
                 <br>
                     <tr>
                        <td><h6>zip:</h6></td>&nbsp;&nbsp;<td>{{zip}}</td>
                    </tr>
                 <br>
                 <tr>
                    <td><h6>phone_no:</h6></td>&nbsp;&nbsp;<td>{{phone_no}}</td>
                </tr>
             <br>
             <tr> 
                <td><h6>email:</h6></td>&nbsp;&nbsp;<td>{{email}}</td>
            </tr>
         <br>
                </table>
                <hr>
            </ul>          
        </div>
    </div>
</div> 