<div class="row">



    <div routerLink="/user-list" class="col-md-6">
      <div class="info info-orange">
        <div class="header">Users</div>
        <span>{{countuser}}</span>
        <img src="assets/user.png" alt="">
    </div>
    </div>

    <div routerLink="/employee-list" class="col-md-6">
        <div class="info info-green">
          <div class="header">Employees</div>
          <span>{{countemployee}}</span> 
        <img src="assets/employee.png" alt=""> 
        </div>
      </div>
    
    
      <!-- <div routerLink="/order-list" class="col-md-3">
        <div class="info info-brown">
          <div class="header">Active Orders</div>
          <span>2</span>
        <img src="assets/order.png" alt="">
        </div>
      </div>
    
      <div routerLink="/order-list" class="col-md-3">
        <div class="info info-blue">
          <div class="header">Orders</div>
          <span>2</span>
        <img src="assets/order.png" alt="">
        </div>
      </div> -->
</div>

