<div class="modal-header">
    <h2>Cart Items</h2>
    <button (click)="onCheckout()" class="btn btn-success float-right">CheckOut</button>
</div> 
 
<div class="modal-body">
  <table class="table table-striped">
    <thead> 
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Amount</th>
        <th>Actions</th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let item of items; let index = index">
        <td>{{index + 1}}</td>
        <td>{{item['mname']}}</td>
        <td>{{item['price']}}</td>
        <th>
          <button (click)="updateQuantity(-1, item)" class="btn btn-warning btn-sm">-</button>
          {{item['quantity']}}
          <button (click)="updateQuantity(1, item)" class="btn btn-warning btn-sm">+</button>
        </th>
        <td [(ngModel)]="totalprice">{{item['total_amount']}}</td>
        <td>
          <button (click)="onDelete(item)" class="btn btn-danger btn-sm" >Delete</button>  
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">Grand Toatl</th>
        <th colspan="2" >{{totalAmount}}</th> 
      </tr>
    </tfoot>
  </table>

  <img src="assets/cart.png" style="margin-left: 800px;" alt="">
<!-- <div class="bgimg"></div> -->
</div>





