<body>
    <div class='container-fluid'>  
        <!-- <div class="row" style="padding: 20px;">   
        </div>    -->
        <div class='col-12'>  
            <ngb-carousel>   
                <ng-template ngbSlide>  
                    <img src="assets/f1.jpg" height="500px" width="100%" alt="Delicious Maharashtrian Food">  
                    <div class="carousel-caption">  
                        <h3 style="color: chartreuse">Delicious Maharashtrian Food</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="assets/f5.jpg" height="500px" width="100%" alt="Varity of Fast food">  
                    <div class="carousel-caption">  
                        <h3 style="color: chartreuse">Varity of Fast food</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="assets/f4.jpg" height="500px" width="100%" alt="Snacks">  
                    <div class="carousel-caption">  
                        <h3 style="color: chartreuse">Snacks</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="assets/f8.jpg" height="500px" width="100%" alt="Cold drinks">  
                    <div class="carousel-caption">  
                        <h3 style="color: chartreuse">Cold drinks</h3>  
                    </div>  
                </ng-template>   
                <ng-template ngbSlide>  
                    <img src="assets/f10.jpg" height="500px" width="100%"  alt="Fast delivery">  
                    <div class="carousel-caption">  
                        <h3 style="color: chartreuse">Fast and Safe delivery</h3>  
                    </div>   
                </ng-template>  
            </ngb-carousel>  
            <button (click)="Onorder()" class="blinking"><h2>Order Now</h2></button> 
        </div>        
    </div>   
 
</body>  